{% extends "itreporting/base.html" %}
{% block content %}
<body>
    <div class="container">
        <h1>Add Course</h1>
        <form method="post" action="{% url 'add_course' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Course Name</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="Module">Module</label>
                {{ form.module }}
            </div>
            <div class="form-group">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
{% endblock content %}
